.home {
  margin-top: 1px;
  background: #f5f5f5;
  padding: 25px 0;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
.products {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products li {
  color: #555;
  margin-top: 10px;
}
.products span {
  color: #333;
  font-size: 1.1rem;
}
.products button {
  color: #333;
  width: 105px;
  height: 39px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 0.95rem;
}
.ProductItem {
  padding: 15px;
  margin-top: 1px;
  background: #f5f5f5;
}
.ProductItem .image {
  background: #fff;
  padding: 15px;
  display: inline-block;
  margin-bottom: 10px;
}

.ProductItem h3,
.ProductItem h2 {
  margin: 7px 0;
  color: #555;
  font-weight: 400;
  font-size: 1.2rem;
}
.ProductItem span {
  color: #333;
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 10px;
  font-weight: 500;
}
.ProductItem p {
  color: #555;
  font-size: 0.95rem;
}
